body {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 15px 25px;
  background-color: #fff;
}

.container {
  text-align: center;
}

.mainHeading {
  color: #2bbee7;
  margin-bottom: 40px;
}
.mainHeading span {
  color: #0e728e;
  margin-bottom: 40px;
}

input[type="range"] {
  width: 100%;
  background-color: red;
  color: green;
}

#lengthValue {
  font-weight: 600;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #2bbee7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 99999px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 500ms;
}

button:hover {
  background-color: #0e728e;
}

#passwordDisplay {
  margin-top: 10px;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  background-color: #e2e2e2;
  border-radius: 5px;
  font-family: monospace;
  font-weight: 600;
  letter-spacing: 2.5px;
  font-size: 1rem;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0rem;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.options li {
  font-size: 1rem;
  font-weight: 500;
}

.options label {
  cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* /// CHECK BOX */

/* From Uiverse.io by Timbar09 */

.checkbox__container {
  --primary-clr-1: #2bbee7;
  --primary-clr-2: #0e728e;
  --text-clr-1: #505050;

  --checkbox-bg-clr: #33333367;
  --checkbox-border-clr: #55555575;

  color: var(--text-clr-1);
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.checkbox {
  --dimension: 1.5em;
  --tick-dimension: 0.15em;

  appearance: none;
  margin: 0;
  position: relative;
  width: var(--dimension);
  height: var(--dimension);
  /* border: 1px solid transparent; */
  border-radius: 50%;
  cursor: pointer;
  rotate: 45deg;
}

.checkbox:checked {
  animation: shrink 0.25s ease forwards;
}

.checkbox:not(:checked) {
  animation: grow 0.15s 0.25s ease forwards;
  background-color: transparent !important;
}

@keyframes shrink {
  0% {
    scale: 1;
    background-color: var(--checkbox-bg-clr);
    border: solid 1px var(--checkbox-border-clr);
  }
  50% {
    scale: 0;
    background-color: var(--checkbox-bg-clr);
    border: solid 1px var(--checkbox-border-clr);
  }
  51% {
    scale: 0;
    background-color: transparent;
    border: solid 1px transparent;
  }
  100% {
    scale: 1;
    background-color: transparent;
    border: solid 1px transparent;
  }
}

@keyframes grow {
  0% {
    scale: 0;
    background-color: transparent;
    border: solid 1px transparent;
  }

  100% {
    scale: 1;
    background-color: var(--checkbox-bg-clr);
    border: solid 1px var(--checkbox-border-clr);
  }
}

.checkbox:before,
.checkbox:after {
  content: "";
  position: absolute;
  top: calc(50% - var(--tick-dimension) / 2);
  left: calc(50% - var(--tick-dimension) / 2);
  width: var(--tick-dimension);
  height: var(--tick-dimension);
  border-radius: 10rem;
}

.checkbox::before {
  background-color: transparent;
  top: calc(var(--dimension) * 0.65);
  left: 0;
  width: var(--tick-dimension);
}

.checkbox:not(:checked)::before {
  transition: background-color 0.15s 0.25s ease-in-out, width 0.25s ease-in-out;
}

.checkbox:checked::before {
  background-color: var(--primary-clr-1);
  top: calc(var(--dimension) * 0.65);
  left: 0;
  width: calc(var(--dimension) / 2);
  transition: background-color 0.15s 0.15s ease-in-out,
    width 0.25s 0.5s ease-in-out;
}

.checkbox::after {
  background-color: transparent;
  top: 0;
  left: calc((var(--dimension) * 0.5) - var(--tick-dimension));
  height: var(--tick-dimension);
}

.checkbox:not(:checked)::after {
  transition: background-color 0.15s 0.25s ease-in-out, height 0.25s ease-in-out;
}

.checkbox:checked::after {
  background-color: var(--primary-clr-2);
  top: 0;
  left: calc((var(--dimension) * 0.5) - var(--tick-dimension));
  height: calc(var(--dimension) * 0.75);
  transition: background-color 0.15s 0.15s ease-in-out,
    height 0.25s 1s ease-in-out;
}

.checkbox__label {
  --hover: #cdcdcd;
  --checked: #8f8f8f49;
  --stroke-dimension: 0.05em;

  cursor: pointer;
  user-select: none;
  scale: 1.5;
  transition: color 0.15s;
}

.checkbox__label:hover {
  color: var(--hover);
}

.checkbox:checked + .checkbox__label--text {
  color: var(--checked);
}

.checkbox__label--text {
  position: relative;
}

.checkbox__label--text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(-1 * var(--stroke-dimension));
  width: var(--stroke-dimension);
  height: var(--stroke-dimension);
  margin-right: 0.5em;
  border-radius: 1em;
}

.checkbox__label--text::before {
  background-color: var(--primary-clr-1);
  width: 0;
  transition: width 0.25s, background-color 0.3s 0.5s;
}

.checkbox:checked + .checkbox__label--text::before {
  background-color: var(--checked);
  width: calc(100% + var(--stroke-dimension));
  transition: width 0.75s 0.25s, background-color 0.2s 1s;
}

/* From Uiverse.io by Galahhad */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////  */

/* level settings 👇 */

.slider {
  /* slider */
  --slider-height: 12px;
  --slider-bg: #075b72;
  --slider-border-radius: 9999px;
  /* level */
  --level-color: #2bbee7;
  --level-transition-duration: 0.5s;
}

.slider {
  width: 100%;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
  border-radius: var(--slider-border-radius);
}
